<?xml version="1.0"?>
<configuration>
  <configSections></configSections>
  <appSettings>
    <add key="User" value=""/>
    <add key="Server" value="gmail.com"/>
    <add key="Password" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="TeamEntities" connectionString="metadata=res://*/TeamEntities.csdl|res://*/TeamEntities.ssdl|res://*/TeamEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=D:\MySource\CodeNight\Vic\Fontaine\Ostrich\bin\Debug\Applications\TeamData.mdf;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

</configuration>